
body {
  text-align: center;
}

h1 {
  font-size: 3em;
}
.about {
  text-align: left;
  text-indent: 20px;
  font-size: 1.3em;
  font-family: serif;
  line-height: 140%;
}

a {
  text-align: left;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

a:visited {
  color: black;
}

a:default {
  color: black;
}

a:hover {
  color: white;
  background-color: blue;
}
